# this section can show up in all your rsyslog config files, so just leave it here
#$ModLoad imfile # Load the imfile input module
module(load="imfile")

# Watch {{ logs_path }}/{{ host_name }}-access.log
$InputFileName {{ logs_path }}/{{ host_name }}-access.log #can NOT use wildcards – this is where logstash-forwarder would be nice
$InputFileTag nginx-access: #Logstash throws grok errors if the “:” is anywhere besides at the end; shows up as “Program” in Logstash
$InputFileStateFile state-nginx-access #can be anything; unique id used by rsyslog
$InputRunFileMonitor

# Here’s a clean block, this time for an nginx error log
# Watch {{ logs_path }}/{{ host_name }}-error.log
$InputFileName {{ logs_path }}/{{ host_name }}-error.log
$InputFileTag nginx-error:
$InputFileStateFile state-nginx-error
$InputRunFileMonitor
